/* Version: 1.3.2 - Generated 2022-06-09 12:41:09 */
body {
  font-size: 1.8rem;
  font-size: calc(1.6rem + (0.2 * ((100vw - 32rem) / 96)));
  font-size: clamp(1.6rem, calc(0.2083333333vw + 1.5333333333rem), 1.8rem);
}
.ct-section-inner-wrap {
  padding: 6rem 3rem;
  padding: calc(7.2rem + (4.8 * ((100vw - 32rem) / 96))) 3rem;
  padding: clamp(7.2rem, calc(5vw + 5.6rem), 12rem) 3rem;
}
.oxy-header-container {
  padding-left: 3rem;
  padding-right: 3rem;
}
.pad-section--xs .ct-section-inner-wrap {
  padding: 1.896rem 3rem;
  padding: calc(3.2rem + (2.1333333333 * ((100vw - 32rem) / 96))) 3rem;
  padding: clamp(3.2rem, calc(2.2222222222vw + 2.4888888889rem), 5.3333333333rem) 3rem;
}
.pad-section--s .ct-section-inner-wrap {
  padding: 2.133rem 3rem;
  padding: calc(4.8rem + (3.2 * ((100vw - 32rem) / 96))) 3rem;
  padding: clamp(4.8rem, calc(3.3333333333vw + 3.7333333333rem), 8rem) 3rem;
}
.pad-section--m .ct-section-inner-wrap {
  padding: 2.4rem 3rem;
  padding: calc(7.2rem + (4.8 * ((100vw - 32rem) / 96))) 3rem;
  padding: clamp(7.2rem, calc(5vw + 5.6rem), 12rem) 3rem;
}
.pad-section--l .ct-section-inner-wrap {
  padding: 2.7rem 3rem;
  padding: calc(9.5976rem + (8.4024 * ((100vw - 32rem) / 96))) 3rem;
  padding: clamp(9.5976rem, calc(8.7525vw + 6.7968rem), 18rem) 3rem;
}
.pad-section--xl .ct-section-inner-wrap {
  padding: 3.038rem 3rem;
  padding: calc(12.7936008rem + (14.2063992 * ((100vw - 32rem) / 96))) 3rem;
  padding: clamp(12.7936008rem, calc(14.7983325vw + 8.0581344rem), 27rem) 3rem;
}
.pad-section--xxl .ct-section-inner-wrap {
  padding: 3.42rem 3rem;
  padding: calc(17.0538698664rem + (23.4461301336 * ((100vw - 32rem) / 96))) 3rem;
  padding: clamp(17.0538698664rem, calc(24.4230522225vw + 9.2384931552rem), 40.5rem) 3rem;
}
.pad-section--none .ct-section-inner-wrap {
  padding: 0 3rem;
}
@media (max-width: 1279px) {
  .pad-section--xl-xs .ct-section-inner-wrap {
    padding: 1.896rem 3rem;
    padding: calc(3.2rem + (2.1333333333 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(3.2rem, calc(2.2222222222vw + 2.4888888889rem), 5.3333333333rem) 3rem;
  }
  .pad-section--xl-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--xl .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--xl-s .ct-section-inner-wrap {
    padding: 2.133rem 3rem;
    padding: calc(4.8rem + (3.2 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(4.8rem, calc(3.3333333333vw + 3.7333333333rem), 8rem) 3rem;
  }
  .pad-section--xl-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--xl .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--xl-m .ct-section-inner-wrap {
    padding: 2.4rem 3rem;
    padding: calc(7.2rem + (4.8 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(7.2rem, calc(5vw + 5.6rem), 12rem) 3rem;
  }
  .pad-section--xl-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--xl .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--xl-l .ct-section-inner-wrap {
    padding: 2.7rem 3rem;
    padding: calc(9.5976rem + (8.4024 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(9.5976rem, calc(8.7525vw + 6.7968rem), 18rem) 3rem;
  }
  .pad-section--xl-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--xl .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--xl-xl .ct-section-inner-wrap {
    padding: 3.038rem 3rem;
    padding: calc(12.7936008rem + (14.2063992 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(12.7936008rem, calc(14.7983325vw + 8.0581344rem), 27rem) 3rem;
  }
  .pad-section--xl-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--xl .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--xl-xxl .ct-section-inner-wrap {
    padding: 3.42rem 3rem;
    padding: calc(17.0538698664rem + (23.4461301336 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(17.0538698664rem, calc(24.4230522225vw + 9.2384931552rem), 40.5rem) 3rem;
  }
  .pad-section--xl-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--xl .ct-section-inner-wrap {
    padding: 0 !important;
  }
}
@media (max-width: 991px) {
  .pad-section--l-xs .ct-section-inner-wrap {
    padding: 1.896rem 3rem;
    padding: calc(3.2rem + (2.1333333333 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(3.2rem, calc(2.2222222222vw + 2.4888888889rem), 5.3333333333rem) 3rem;
  }
  .pad-section--l-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--l .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--l-s .ct-section-inner-wrap {
    padding: 2.133rem 3rem;
    padding: calc(4.8rem + (3.2 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(4.8rem, calc(3.3333333333vw + 3.7333333333rem), 8rem) 3rem;
  }
  .pad-section--l-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--l .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--l-m .ct-section-inner-wrap {
    padding: 2.4rem 3rem;
    padding: calc(7.2rem + (4.8 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(7.2rem, calc(5vw + 5.6rem), 12rem) 3rem;
  }
  .pad-section--l-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--l .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--l-l .ct-section-inner-wrap {
    padding: 2.7rem 3rem;
    padding: calc(9.5976rem + (8.4024 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(9.5976rem, calc(8.7525vw + 6.7968rem), 18rem) 3rem;
  }
  .pad-section--l-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--l .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--l-xl .ct-section-inner-wrap {
    padding: 3.038rem 3rem;
    padding: calc(12.7936008rem + (14.2063992 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(12.7936008rem, calc(14.7983325vw + 8.0581344rem), 27rem) 3rem;
  }
  .pad-section--l-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--l .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--l-xxl .ct-section-inner-wrap {
    padding: 3.42rem 3rem;
    padding: calc(17.0538698664rem + (23.4461301336 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(17.0538698664rem, calc(24.4230522225vw + 9.2384931552rem), 40.5rem) 3rem;
  }
  .pad-section--l-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--l .ct-section-inner-wrap {
    padding: 0 !important;
  }
}
@media (max-width: 767px) {
  .pad-section--m-xs .ct-section-inner-wrap {
    padding: 1.896rem 3rem;
    padding: calc(3.2rem + (2.1333333333 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(3.2rem, calc(2.2222222222vw + 2.4888888889rem), 5.3333333333rem) 3rem;
  }
  .pad-section--m-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--m .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--m-s .ct-section-inner-wrap {
    padding: 2.133rem 3rem;
    padding: calc(4.8rem + (3.2 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(4.8rem, calc(3.3333333333vw + 3.7333333333rem), 8rem) 3rem;
  }
  .pad-section--m-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--m .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--m-m .ct-section-inner-wrap {
    padding: 2.4rem 3rem;
    padding: calc(7.2rem + (4.8 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(7.2rem, calc(5vw + 5.6rem), 12rem) 3rem;
  }
  .pad-section--m-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--m .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--m-l .ct-section-inner-wrap {
    padding: 2.7rem 3rem;
    padding: calc(9.5976rem + (8.4024 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(9.5976rem, calc(8.7525vw + 6.7968rem), 18rem) 3rem;
  }
  .pad-section--m-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--m .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--m-xl .ct-section-inner-wrap {
    padding: 3.038rem 3rem;
    padding: calc(12.7936008rem + (14.2063992 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(12.7936008rem, calc(14.7983325vw + 8.0581344rem), 27rem) 3rem;
  }
  .pad-section--m-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--m .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--m-xxl .ct-section-inner-wrap {
    padding: 3.42rem 3rem;
    padding: calc(17.0538698664rem + (23.4461301336 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(17.0538698664rem, calc(24.4230522225vw + 9.2384931552rem), 40.5rem) 3rem;
  }
  .pad-section--m-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--m .ct-section-inner-wrap {
    padding: 0 !important;
  }
}
@media (max-width: 479px) {
  .pad-section--s-xs .ct-section-inner-wrap {
    padding: 1.896rem 3rem;
    padding: calc(3.2rem + (2.1333333333 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(3.2rem, calc(2.2222222222vw + 2.4888888889rem), 5.3333333333rem) 3rem;
  }
  .pad-section--s-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--s .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--s-s .ct-section-inner-wrap {
    padding: 2.133rem 3rem;
    padding: calc(4.8rem + (3.2 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(4.8rem, calc(3.3333333333vw + 3.7333333333rem), 8rem) 3rem;
  }
  .pad-section--s-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--s .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--s-m .ct-section-inner-wrap {
    padding: 2.4rem 3rem;
    padding: calc(7.2rem + (4.8 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(7.2rem, calc(5vw + 5.6rem), 12rem) 3rem;
  }
  .pad-section--s-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--s .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--s-l .ct-section-inner-wrap {
    padding: 2.7rem 3rem;
    padding: calc(9.5976rem + (8.4024 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(9.5976rem, calc(8.7525vw + 6.7968rem), 18rem) 3rem;
  }
  .pad-section--s-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--s .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--s-xl .ct-section-inner-wrap {
    padding: 3.038rem 3rem;
    padding: calc(12.7936008rem + (14.2063992 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(12.7936008rem, calc(14.7983325vw + 8.0581344rem), 27rem) 3rem;
  }
  .pad-section--s-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--s .ct-section-inner-wrap {
    padding: 0 !important;
  }
  .pad-section--s-xxl .ct-section-inner-wrap {
    padding: 3.42rem 3rem;
    padding: calc(17.0538698664rem + (23.4461301336 * ((100vw - 32rem) / 96))) 3rem;
    padding: clamp(17.0538698664rem, calc(24.4230522225vw + 9.2384931552rem), 40.5rem) 3rem;
  }
  .pad-section--s-none .ct-section-inner-wrap {
    padding: 0 3rem;
  }
  .pad--none--s .ct-section-inner-wrap {
    padding: 0 !important;
  }
}
.pad--none .ct-section-inner-wrap {
  padding: 0 !important;
}
.ct-section.height--20 > .ct-section-inner-wrap {
  min-height: 20vh;
}
.ct-section.height--30 > .ct-section-inner-wrap {
  min-height: 30vh;
}
.ct-section.height--40 > .ct-section-inner-wrap {
  min-height: 40vh;
}
.ct-section.height--50 > .ct-section-inner-wrap {
  min-height: 50vh;
}
.ct-section.height--60 > .ct-section-inner-wrap {
  min-height: 60vh;
}
.ct-section.height--70 > .ct-section-inner-wrap {
  min-height: 70vh;
}
.ct-section.height--80 > .ct-section-inner-wrap {
  min-height: 80vh;
}
.ct-section.height--90 > .ct-section-inner-wrap {
  min-height: 90vh;
}
.ct-section.height--full > .ct-section-inner-wrap {
  min-height: 100vh;
}
@media (max-width: 1279px) {
  .ct-section.height--xl-20 > .ct-section-inner-wrap {
    min-height: 20vh;
  }
  .ct-section.height--xl-30 > .ct-section-inner-wrap {
    min-height: 30vh;
  }
  .ct-section.height--xl-40 > .ct-section-inner-wrap {
    min-height: 40vh;
  }
  .ct-section.height--xl-50 > .ct-section-inner-wrap {
    min-height: 50vh;
  }
  .ct-section.height--xl-60 > .ct-section-inner-wrap {
    min-height: 60vh;
  }
  .ct-section.height--xl-70 > .ct-section-inner-wrap {
    min-height: 70vh;
  }
  .ct-section.height--xl-80 > .ct-section-inner-wrap {
    min-height: 80vh;
  }
  .ct-section.height--xl-90 > .ct-section-inner-wrap {
    min-height: 90vh;
  }
  .ct-section.height--xl-full > .ct-section-inner-wrap {
    min-height: 100vh;
  }
}
@media (max-width: 991px) {
  .ct-section.height--l-20 > .ct-section-inner-wrap {
    min-height: 20vh;
  }
  .ct-section.height--l-30 > .ct-section-inner-wrap {
    min-height: 30vh;
  }
  .ct-section.height--l-40 > .ct-section-inner-wrap {
    min-height: 40vh;
  }
  .ct-section.height--l-50 > .ct-section-inner-wrap {
    min-height: 50vh;
  }
  .ct-section.height--l-60 > .ct-section-inner-wrap {
    min-height: 60vh;
  }
  .ct-section.height--l-70 > .ct-section-inner-wrap {
    min-height: 70vh;
  }
  .ct-section.height--l-80 > .ct-section-inner-wrap {
    min-height: 80vh;
  }
  .ct-section.height--l-90 > .ct-section-inner-wrap {
    min-height: 90vh;
  }
  .ct-section.height--l-full > .ct-section-inner-wrap {
    min-height: 100vh;
  }
}
@media (max-width: 767px) {
  .ct-section.height--m-20 > .ct-section-inner-wrap {
    min-height: 20vh;
  }
  .ct-section.height--m-30 > .ct-section-inner-wrap {
    min-height: 30vh;
  }
  .ct-section.height--m-40 > .ct-section-inner-wrap {
    min-height: 40vh;
  }
  .ct-section.height--m-50 > .ct-section-inner-wrap {
    min-height: 50vh;
  }
  .ct-section.height--m-60 > .ct-section-inner-wrap {
    min-height: 60vh;
  }
  .ct-section.height--m-70 > .ct-section-inner-wrap {
    min-height: 70vh;
  }
  .ct-section.height--m-80 > .ct-section-inner-wrap {
    min-height: 80vh;
  }
  .ct-section.height--m-90 > .ct-section-inner-wrap {
    min-height: 90vh;
  }
  .ct-section.height--m-full > .ct-section-inner-wrap {
    min-height: 100vh;
  }
}
@media (max-width: 479px) {
  .ct-section.height--s-20 > .ct-section-inner-wrap {
    min-height: 20vh;
  }
  .ct-section.height--s-30 > .ct-section-inner-wrap {
    min-height: 30vh;
  }
  .ct-section.height--s-40 > .ct-section-inner-wrap {
    min-height: 40vh;
  }
  .ct-section.height--s-50 > .ct-section-inner-wrap {
    min-height: 50vh;
  }
  .ct-section.height--s-60 > .ct-section-inner-wrap {
    min-height: 60vh;
  }
  .ct-section.height--s-70 > .ct-section-inner-wrap {
    min-height: 70vh;
  }
  .ct-section.height--s-80 > .ct-section-inner-wrap {
    min-height: 80vh;
  }
  .ct-section.height--s-90 > .ct-section-inner-wrap {
    min-height: 90vh;
  }
  .ct-section.height--s-full > .ct-section-inner-wrap {
    min-height: 100vh;
  }
}
.ct-section.max-height--20 > .ct-section-inner-wrap {
  max-height: 20vh;
}
.ct-section.max-height--30 > .ct-section-inner-wrap {
  max-height: 30vh;
}
.ct-section.max-height--40 > .ct-section-inner-wrap {
  max-height: 40vh;
}
.ct-section.max-height--50 > .ct-section-inner-wrap {
  max-height: 50vh;
}
.ct-section.max-height--60 > .ct-section-inner-wrap {
  max-height: 60vh;
}
.ct-section.max-height--70 > .ct-section-inner-wrap {
  max-height: 70vh;
}
.ct-section.max-height--80 > .ct-section-inner-wrap {
  max-height: 80vh;
}
.ct-section.max-height--90 > .ct-section-inner-wrap {
  max-height: 90vh;
}
.ct-section.max-height--full > .ct-section-inner-wrap {
  max-height: 100vh;
}
@media (max-width: 1279px) {
  .ct-section.max-height--xl-20 > .ct-section-inner-wrap {
    max-height: 20vh;
  }
  .ct-section.max-height--xl-30 > .ct-section-inner-wrap {
    max-height: 30vh;
  }
  .ct-section.max-height--xl-40 > .ct-section-inner-wrap {
    max-height: 40vh;
  }
  .ct-section.max-height--xl-50 > .ct-section-inner-wrap {
    max-height: 50vh;
  }
  .ct-section.max-height--xl-60 > .ct-section-inner-wrap {
    max-height: 60vh;
  }
  .ct-section.max-height--xl-70 > .ct-section-inner-wrap {
    max-height: 70vh;
  }
  .ct-section.max-height--xl-80 > .ct-section-inner-wrap {
    max-height: 80vh;
  }
  .ct-section.max-height--xl-90 > .ct-section-inner-wrap {
    max-height: 90vh;
  }
  .ct-section.max-height--xl-full > .ct-section-inner-wrap {
    max-height: 100vh;
  }
}
@media (max-width: 991px) {
  .ct-section.max-height--l-20 > .ct-section-inner-wrap {
    max-height: 20vh;
  }
  .ct-section.max-height--l-30 > .ct-section-inner-wrap {
    max-height: 30vh;
  }
  .ct-section.max-height--l-40 > .ct-section-inner-wrap {
    max-height: 40vh;
  }
  .ct-section.max-height--l-50 > .ct-section-inner-wrap {
    max-height: 50vh;
  }
  .ct-section.max-height--l-60 > .ct-section-inner-wrap {
    max-height: 60vh;
  }
  .ct-section.max-height--l-70 > .ct-section-inner-wrap {
    max-height: 70vh;
  }
  .ct-section.max-height--l-80 > .ct-section-inner-wrap {
    max-height: 80vh;
  }
  .ct-section.max-height--l-90 > .ct-section-inner-wrap {
    max-height: 90vh;
  }
  .ct-section.max-height--l-full > .ct-section-inner-wrap {
    max-height: 100vh;
  }
}
@media (max-width: 767px) {
  .ct-section.max-height--m-20 > .ct-section-inner-wrap {
    max-height: 20vh;
  }
  .ct-section.max-height--m-30 > .ct-section-inner-wrap {
    max-height: 30vh;
  }
  .ct-section.max-height--m-40 > .ct-section-inner-wrap {
    max-height: 40vh;
  }
  .ct-section.max-height--m-50 > .ct-section-inner-wrap {
    max-height: 50vh;
  }
  .ct-section.max-height--m-60 > .ct-section-inner-wrap {
    max-height: 60vh;
  }
  .ct-section.max-height--m-70 > .ct-section-inner-wrap {
    max-height: 70vh;
  }
  .ct-section.max-height--m-80 > .ct-section-inner-wrap {
    max-height: 80vh;
  }
  .ct-section.max-height--m-90 > .ct-section-inner-wrap {
    max-height: 90vh;
  }
  .ct-section.max-height--m-full > .ct-section-inner-wrap {
    max-height: 100vh;
  }
}
@media (max-width: 479px) {
  .ct-section.max-height--s-20 > .ct-section-inner-wrap {
    max-height: 20vh;
  }
  .ct-section.max-height--s-30 > .ct-section-inner-wrap {
    max-height: 30vh;
  }
  .ct-section.max-height--s-40 > .ct-section-inner-wrap {
    max-height: 40vh;
  }
  .ct-section.max-height--s-50 > .ct-section-inner-wrap {
    max-height: 50vh;
  }
  .ct-section.max-height--s-60 > .ct-section-inner-wrap {
    max-height: 60vh;
  }
  .ct-section.max-height--s-70 > .ct-section-inner-wrap {
    max-height: 70vh;
  }
  .ct-section.max-height--s-80 > .ct-section-inner-wrap {
    max-height: 80vh;
  }
  .ct-section.max-height--s-90 > .ct-section-inner-wrap {
    max-height: 90vh;
  }
  .ct-section.max-height--s-full > .ct-section-inner-wrap {
    max-height: 100vh;
  }
}
.ct-section.owl--xs .ct-section-inner-wrap > * + * {
  margin-top: 1.896rem;
  margin-top: calc(1.0666666667rem + (0.2666666667 * ((100vw - 32rem) / 96)));
  margin-top: clamp(1.0666666667rem, calc(0.2777777778vw + 0.9777777778rem), 1.3333333333rem);
}
.ct-section.owl--s .ct-section-inner-wrap > * + * {
  margin-top: 2.133rem;
  margin-top: calc(1.6rem + (0.4 * ((100vw - 32rem) / 96)));
  margin-top: clamp(1.6rem, calc(0.4166666667vw + 1.4666666667rem), 2rem);
}
.ct-section.owl--m .ct-section-inner-wrap > * + * {
  margin-top: 2.4rem;
  margin-top: calc(2.4rem + (0.6 * ((100vw - 32rem) / 96)));
  margin-top: clamp(2.4rem, calc(0.625vw + 2.2rem), 3rem);
}
.ct-section.owl--l .ct-section-inner-wrap > * + * {
  margin-top: 2.7rem;
  margin-top: calc(3.1992rem + (1.3008 * ((100vw - 32rem) / 96)));
  margin-top: clamp(3.1992rem, calc(1.355vw + 2.7656rem), 4.5rem);
}
.ct-section.owl--xl .ct-section-inner-wrap > * + * {
  margin-top: 3.038rem;
  margin-top: calc(4.2645336rem + (2.4854664 * ((100vw - 32rem) / 96)));
  margin-top: clamp(4.2645336rem, calc(2.5890275vw + 3.4360448rem), 6.75rem);
}
.ct-section.owl--xxl .ct-section-inner-wrap > * + * {
  margin-top: 3.42rem;
  margin-top: calc(5.6846232888rem + (4.4403767112 * ((100vw - 32rem) / 96)));
  margin-top: clamp(5.6846232888rem, calc(4.6253924075vw + 4.2044977184rem), 10.125rem);
}
.ct-section.flex--col .ct-section-inner-wrap {
  display: flex;
  flex-direction: column;
}
.ct-section.flex--row .ct-section-inner-wrap {
  display: flex;
  flex-direction: row;
}
.ct-section.flex--col-reverse .ct-section-inner-wrap {
  display: flex;
  flex-direction: column-reverse;
}
.ct-section.flex--row-reverse .ct-section-inner-wrap {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 1279px) {
  .ct-section.flex--col-xl .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
  }
  .ct-section.flex--row-xl .ct-section-inner-wrap {
    display: flex;
    flex-direction: row;
  }
  .ct-section.flex--col-reverse-xl .ct-section-inner-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .ct-section.flex--row-reverse-xl .ct-section-inner-wrap {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (max-width: 991px) {
  .ct-section.flex--col-l .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
  }
  .ct-section.flex--row-l .ct-section-inner-wrap {
    display: flex;
    flex-direction: row;
  }
  .ct-section.flex--col-reverse-l .ct-section-inner-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .ct-section.flex--row-reverse-l .ct-section-inner-wrap {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (max-width: 767px) {
  .ct-section.flex--col-m .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
  }
  .ct-section.flex--row-m .ct-section-inner-wrap {
    display: flex;
    flex-direction: row;
  }
  .ct-section.flex--col-reverse-m .ct-section-inner-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .ct-section.flex--row-reverse-m .ct-section-inner-wrap {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (max-width: 479px) {
  .ct-section.flex--col-s .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
  }
  .ct-section.flex--row-s .ct-section-inner-wrap {
    display: flex;
    flex-direction: row;
  }
  .ct-section.flex--col-reverse-s .ct-section-inner-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .ct-section.flex--row-reverse-s .ct-section-inner-wrap {
    display: flex;
    flex-direction: row-reverse;
  }
}
.ct-section.justify-content--start .ct-section-inner-wrap {
  display: flex;
  justify-content: flex-start;
}
.ct-section.justify-content--end .ct-section-inner-wrap {
  display: flex;
  justify-content: flex-end;
}
.ct-section.justify-content--center .ct-section-inner-wrap {
  display: flex;
  justify-content: center;
}
.ct-section.justify-content--between .ct-section-inner-wrap {
  display: flex;
  justify-content: space-between;
}
.ct-section.justify-content--around .ct-section-inner-wrap {
  display: flex;
  justify-content: space-around;
}
.ct-section.justify-content--stretch .ct-section-inner-wrap {
  display: flex;
  justify-content: stretch;
}
.ct-section.align-content--start .ct-section-inner-wrap {
  display: flex;
  align-content: flex-start;
}
.ct-section.align-content--end .ct-section-inner-wrap {
  display: flex;
  align-content: flex-end;
}
.ct-section.align-content--center .ct-section-inner-wrap {
  display: flex;
  align-content: center;
}
.ct-section.align-content--baseline .ct-section-inner-wrap {
  display: flex;
  align-content: baseline;
}
.ct-section.align-content--stretch .ct-section-inner-wrap {
  display: flex;
  align-content: stretch;
}
.ct-section.justify-items--start .ct-section-inner-wrap {
  display: flex;
  justify-items: flex-start;
}
.ct-section.justify-items--center .ct-section-inner-wrap {
  display: flex;
  justify-items: center;
}
.ct-section.justify-items--end .ct-section-inner-wrap {
  display: flex;
  justify-items: flex-end;
}
.ct-section.justify-items--stretch .ct-section-inner-wrap {
  display: flex;
  justify-items: stretch;
}
.ct-section.align-items--start .ct-section-inner-wrap {
  display: flex;
  align-items: flex-start;
}
.ct-section.align-items--end .ct-section-inner-wrap {
  display: flex;
  align-items: flex-end;
}
.ct-section.align-items--center .ct-section-inner-wrap {
  display: flex;
  align-items: center;
}
.ct-section.align-items--baseline .ct-section-inner-wrap {
  display: flex;
  align-items: baseline;
}
.ct-section.align-items--stretch .ct-section-inner-wrap {
  display: flex;
  align-items: stretch;
}
.ct-section.self--start .ct-section-inner-wrap {
  display: flex;
  align-self: flex-start;
}
.ct-section.self--end .ct-section-inner-wrap {
  display: flex;
  align-self: flex-end;
}
.ct-section.self--stretch .ct-section-inner-wrap {
  display: flex;
  align-self: stretch;
}
.ct-section.self--center .ct-section-inner-wrap {
  display: flex;
  align-self: center;
}
.ct-section.grid--1 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 1fr;
  width: 100%;
}
.ct-section.grid--2 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
}
.ct-section.grid--3 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
}
.ct-section.grid--4 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
}
.ct-section.grid--5 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
}
.ct-section.grid--6 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: 100%;
}
.ct-section.grid--1-2 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}
.ct-section.grid--1-3 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}
.ct-section.grid--2-1 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}
.ct-section.grid--2-3 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 2fr 3fr;
  width: 100%;
}
.ct-section.grid--3-1 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 3fr 1fr;
  width: 100%;
}
.ct-section.grid--3-2 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 3fr 2fr;
  width: 100%;
}
.ct-section.grid--auto-2 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(min(40.8026755853rem, 100vw - 6rem), 1fr));
  width: 100%;
}
.ct-section.grid--auto-3 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(min(30.5764411028rem, 100vw - 6rem), 1fr));
  width: 100%;
}
.ct-section.grid--auto-4 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(min(24.4488977956rem, 100vw - 6rem), 1fr));
  width: 100%;
}
.ct-section.grid--auto-5 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(min(20.367278798rem, 100vw - 6rem), 1fr));
  width: 100%;
}
.ct-section.grid--auto-6 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(min(17.4535050072rem, 100vw - 6rem), 1fr));
  width: 100%;
}
.ct-section.grid--auto-1-2 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}
.ct-section.grid--auto-1-3 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}
.ct-section.grid--auto-2-1 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}
.ct-section.grid--auto-2-3 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 2fr 3fr;
  width: 100%;
}
.ct-section.grid--auto-3-1 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 3fr 1fr;
  width: 100%;
}
.ct-section.grid--auto-3-2 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 3fr 2fr;
  width: 100%;
}
@media (max-width: 1279px) {
  .ct-section.grid--xl-1 .ct-section-inner-wrap {
    grid-template-columns: 1fr;
  }
  .ct-section.grid--xl-2 .ct-section-inner-wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .ct-section.grid--xl-3 .ct-section-inner-wrap {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .ct-section.grid--xl-4 .ct-section-inner-wrap {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .ct-section.grid--xl-5 .ct-section-inner-wrap {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .ct-section.grid--xl-6 .ct-section-inner-wrap {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (max-width: 991px) {
  .ct-section.grid--l-1 .ct-section-inner-wrap {
    grid-template-columns: 1fr;
  }
  .ct-section.grid--l-2 .ct-section-inner-wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .ct-section.grid--l-3 .ct-section-inner-wrap {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .ct-section.grid--l-4 .ct-section-inner-wrap {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .ct-section.grid--l-5 .ct-section-inner-wrap {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .ct-section.grid--l-6 .ct-section-inner-wrap {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (max-width: 767px) {
  .ct-section.grid--m-1 .ct-section-inner-wrap {
    grid-template-columns: 1fr;
  }
  .ct-section.grid--m-2 .ct-section-inner-wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .ct-section.grid--m-3 .ct-section-inner-wrap {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .ct-section.grid--m-4 .ct-section-inner-wrap {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .ct-section.grid--m-5 .ct-section-inner-wrap {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .ct-section.grid--m-6 .ct-section-inner-wrap {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (max-width: 479px) {
  .ct-section.grid--s-1 .ct-section-inner-wrap {
    grid-template-columns: 1fr;
  }
  .ct-section.grid--s-2 .ct-section-inner-wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .ct-section.grid--s-3 .ct-section-inner-wrap {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .ct-section.grid--s-4 .ct-section-inner-wrap {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .ct-section.grid--s-5 .ct-section-inner-wrap {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .ct-section.grid--s-6 .ct-section-inner-wrap {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (max-width: 991px) {
  .ct-section.grid--auto-1-2 .ct-section-inner-wrap {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(min(30.5764411028rem, 100vw - 6rem), 1fr));
  }
  .ct-section.grid--auto-1-3 .ct-section-inner-wrap {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(min(30.5764411028rem, 100vw - 6rem), 1fr));
  }
  .ct-section.grid--auto-3-2 .ct-section-inner-wrap {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(min(30.5764411028rem, 100vw - 6rem), 1fr));
  }
  .ct-section.grid--auto-2-3 .ct-section-inner-wrap {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(min(30.5764411028rem, 100vw - 6rem), 1fr));
  }
  .ct-section.grid--auto-2-1 .ct-section-inner-wrap {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(min(30.5764411028rem, 100vw - 6rem), 1fr));
  }
  .ct-section.grid--auto-3-1 .ct-section-inner-wrap {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(min(30.5764411028rem, 100vw - 6rem), 1fr));
  }
}
.ct-section.gap--xs > .ct-section-inner-wrap {
  gap: 1.896rem;
  gap: calc(1.0666666667rem + (0.2666666667 * ((100vw - 32rem) / 96)));
  gap: clamp(1.0666666667rem, calc(0.2777777778vw + 0.9777777778rem), 1.3333333333rem);
}
.ct-section.gap--s > .ct-section-inner-wrap {
  gap: 2.133rem;
  gap: calc(1.6rem + (0.4 * ((100vw - 32rem) / 96)));
  gap: clamp(1.6rem, calc(0.4166666667vw + 1.4666666667rem), 2rem);
}
.ct-section.gap--m > .ct-section-inner-wrap {
  gap: 2.4rem;
  gap: calc(2.4rem + (0.6 * ((100vw - 32rem) / 96)));
  gap: clamp(2.4rem, calc(0.625vw + 2.2rem), 3rem);
}
.ct-section.gap--l > .ct-section-inner-wrap {
  gap: 2.7rem;
  gap: calc(3.1992rem + (1.3008 * ((100vw - 32rem) / 96)));
  gap: clamp(3.1992rem, calc(1.355vw + 2.7656rem), 4.5rem);
}
.ct-section.gap--xl > .ct-section-inner-wrap {
  gap: 3.038rem;
  gap: calc(4.2645336rem + (2.4854664 * ((100vw - 32rem) / 96)));
  gap: clamp(4.2645336rem, calc(2.5890275vw + 3.4360448rem), 6.75rem);
}
.ct-section.gap--xxl > .ct-section-inner-wrap {
  gap: 3.42rem;
  gap: calc(5.6846232888rem + (4.4403767112 * ((100vw - 32rem) / 96)));
  gap: clamp(5.6846232888rem, calc(4.6253924075vw + 4.2044977184rem), 10.125rem);
}
.ct-link-button.btn--primary {
  background-color: var(--primary);
  color: var(--base);
  cursor: pointer;
  border-style: solid;
  border-color: var(--primary);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
  font-size: 1.8rem;
  font-size: calc(1.6rem + (0.2 * ((100vw - 32rem) / 96)));
  font-size: clamp(1.6rem, calc(0.2083333333vw + 1.5333333333rem), 1.8rem);
}
.ct-link-button.btn--primary:hover {
  background-color: var(--primary);
  color: var(--base);
  border-color: var(--primary-hover);
  cursor: pointer;
}
.ct-link-button.btn--primary.btn--outline {
  background-color: transparent;
  border-style: solid;
  cursor: pointer;
  color: var(--primary);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
}
.ct-link-button.btn--primary.btn--outline:hover {
  background-color: var(--primary);
  color: var(--primary-ultra-light);
}
.ct-link-button.btn--secondary {
  background-color: var(--secondary);
  color: var(--secondary-ultra-light);
  cursor: pointer;
  border-style: solid;
  border-color: var(--secondary);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
  font-size: 1.8rem;
  font-size: calc(1.6rem + (0.2 * ((100vw - 32rem) / 96)));
  font-size: clamp(1.6rem, calc(0.2083333333vw + 1.5333333333rem), 1.8rem);
}
.ct-link-button.btn--secondary:hover {
  background-color: var(--secondary-hover);
  color: var(--secondary-ultra-light);
  border-color: var(--secondary-hover);
  cursor: pointer;
}
.ct-link-button.btn--secondary.btn--outline {
  background-color: transparent;
  border-style: solid;
  cursor: pointer;
  color: var(--secondary);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
}
.ct-link-button.btn--secondary.btn--outline:hover {
  background-color: var(--secondary-hover);
  color: var(--secondary-ultra-light);
}
.ct-link-button.btn--accent {
  background-color: var(--accent);
  color: var(--accent-ultra-light);
  cursor: pointer;
  border-style: solid;
  border-color: var(--accent);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
  font-size: 1.8rem;
  font-size: calc(1.6rem + (0.2 * ((100vw - 32rem) / 96)));
  font-size: clamp(1.6rem, calc(0.2083333333vw + 1.5333333333rem), 1.8rem);
}
.ct-link-button.btn--accent:hover {
  background-color: var(--accent-hover);
  color: var(--accent-ultra-light);
  border-color: var(--accent-hover);
  cursor: pointer;
}
.ct-link-button.btn--accent.btn--outline {
  background-color: transparent;
  border-style: solid;
  cursor: pointer;
  color: var(--accent);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
}
.ct-link-button.btn--accent.btn--outline:hover {
  background-color: var(--accent-hover);
  color: var(--accent-ultra-light);
}
.ct-link-button.btn--base {
  background-color: var(--base);
  color: var(--base-ultra-light);
  cursor: pointer;
  border-style: solid;
  border-color: var(--base);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
  font-size: 1.8rem;
  font-size: calc(1.6rem + (0.2 * ((100vw - 32rem) / 96)));
  font-size: clamp(1.6rem, calc(0.2083333333vw + 1.5333333333rem), 1.8rem);
}
.ct-link-button.btn--base:hover {
  background-color: var(--base-hover);
  color: var(--base-ultra-light);
  border-color: var(--base-hover);
  cursor: pointer;
}
.ct-link-button.btn--base.btn--outline {
  background-color: transparent;
  border-style: solid;
  cursor: pointer;
  color: var(--base);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
}
.ct-link-button.btn--base.btn--outline:hover {
  background-color: var(--base-hover);
  color: var(--base-ultra-light);
}
.ct-link-button.btn--black {
  background-color: var(--shade-black);
  color: var(--shade-white);
  cursor: pointer;
  border-style: solid;
  border-color: var(--shade-black);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
  font-size: 1.8rem;
  font-size: calc(1.6rem + (0.2 * ((100vw - 32rem) / 96)));
  font-size: clamp(1.6rem, calc(0.2083333333vw + 1.5333333333rem), 1.8rem);
}
.ct-link-button.btn--black:hover {
  background-color: var(--primary-hover);
  color: var(--shade-white);
  border-color: var(--shade-white);
  cursor: pointer;
}
.ct-link-button.btn--black.btn--outline {
  background-color: transparent;
  border-style: solid;
  cursor: pointer;
  color: var(--shade-black);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
}
.ct-link-button.btn--black.btn--outline:hover {
  background-color: var(--primary-hover);
  color: var(--primary-ultra-light);
}
.ct-link-button.btn--white {
  background-color: var(--shade-white);
  color: var(--shade-black);
  cursor: pointer;
  border-style: solid;
  border-color: var(--shade-white);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
  font-size: 1.8rem;
  font-size: calc(1.6rem + (0.2 * ((100vw - 32rem) / 96)));
  font-size: clamp(1.6rem, calc(0.2083333333vw + 1.5333333333rem), 1.8rem);
}
.ct-link-button.btn--white:hover {
  background-color: var(--primary-hover);
  color: var(--shade-white);
  border-color: var(--shade-black);
  cursor: pointer;
}
.ct-link-button.btn--white.btn--outline {
  background-color: transparent;
  border-style: solid;
  cursor: pointer;
  color: var(--shade-white);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
}
.ct-link-button.btn--white.btn--outline:hover {
  background-color: var(--primary-hover);
  color: var(--primary-ultra-light);
}
.ct-link-button.btn--xs {
  font-size: 1.26rem;
  font-size: calc(0.9333333333rem + (0 * ((100vw - 32rem) / 96)));
  font-size: max(1 * 1rem, 0.9333333333 * 1rem);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
  cursor: pointer;
}
.ct-link-button.btn--s {
  font-size: 1.42rem;
  font-size: calc(1.4rem + (0 * ((100vw - 32rem) / 96)));
  font-size: max(1.1 * 1rem, 1.4 * 1rem);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
  cursor: pointer;
}
.ct-link-button.btn--m {
  font-size: 1.8rem;
  font-size: calc(1.6rem + (0.2 * ((100vw - 32rem) / 96)));
  font-size: clamp(1.6rem, calc(0.2083333333vw + 1.5333333333rem), 1.8rem);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
  cursor: pointer;
}
.ct-link-button.btn--l {
  font-size: 2.025rem;
  font-size: calc(1.92rem + (0.78 * ((100vw - 32rem) / 96)));
  font-size: clamp(1.92rem, calc(0.8125vw + 1.66rem), 2.7rem);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
  cursor: pointer;
}
.ct-link-button.btn--xl {
  font-size: 2.28rem;
  font-size: calc(2.304rem + (1.746 * ((100vw - 32rem) / 96)));
  font-size: clamp(2.304rem, calc(1.81875vw + 1.722rem), 4.05rem);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
  cursor: pointer;
}
.ct-link-button.btn--xxl {
  font-size: 2.565rem;
  font-size: calc(2.7648rem + (3.3102 * ((100vw - 32rem) / 96)));
  font-size: clamp(2.7648rem, calc(3.448125vw + 1.6614rem), 6.075rem);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
  cursor: pointer;
}
@media (min-width: 1279px) {
  .ct-image.breakout--s {
    width: 60vw;
    max-width: 60vw !important;
    margin: 0 calc(-30vw + 50%);
  }
  .ct-image.breakout--m {
    width: 70vw;
    max-width: 70vw !important;
    margin: 0 calc(-35vw + 50%);
  }
  .ct-image.breakout--l {
    width: 80vw;
    max-width: 80vw !important;
    margin: 0 calc(-40vw + 50%);
  }
  .ct-image.breakout--xl {
    width: 90vw;
    max-width: 90vw !important;
    margin: 0 calc(-45vw + 50%);
  }
}
.ct-image.breakout--full {
  width: 100vw !important;
  max-width: 100vw !important;
  margin-left: calc(-50vw + 50%) !important;
  align-self: flex-start;
}
@media (max-width: 1279px) {
  [class*="breakout--"]:not(.breakout--full) {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0;
  }
}
.ct-section.stretch .ct-section-inner-wrap {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  justify-content: stretch;
  justify-items: stretch;
}
.ct-link-text.link--skip {
  position: absolute;
  top: 1rem;
  left: 1rem;
  transform: translateY(-250%);
  padding: 1em 1.5em;
  border-width: 0.2rem;
  border-radius: 100rem;
  background: var(--primary);
  color: var(--base);
}
.ct-link-text.link--skip:focus {
  transform: translateY(0);
}
.ct-section.flex--wrap > .ct-section-inner-wrap {
  flex-wrap: wrap;
}
.ct-span.text--100 {
  font-weight: 100;
}
.ct-span.text--200 {
  font-weight: 200;
}
.ct-span.text--300 {
  font-weight: 300;
}
.ct-span.text--400 {
  font-weight: 400;
}
.ct-span.text--500 {
  font-weight: 500;
}
.ct-span.text--600 {
  font-weight: 600;
}
.ct-span.text--700 {
  font-weight: 700;
}
.ct-span.text--800 {
  font-weight: 800;
}
.ct-span.text--900 {
  font-weight: 900;
}
.ct-span.text--bold {
  font-weight: bold;
}
.ct-span.text--italic {
  font-style: italic;
}
.ct-span.text--oblique {
  font-style: oblique;
}
.ct-span.text--decoration-none {
  -webkit-text-decoration: none;
  text-decoration: none;
}
.ct-span.text--underline {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
.ct-span.text--underline-wavy {
  -webkit-text-decoration: underline wavy;
  text-decoration: underline wavy;
}
.ct-span.text--underline-dotted {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
.ct-span.text--underline-double {
  -webkit-text-decoration: underline double;
  text-decoration: underline double;
}
.ct-span.text--underline-dashed {
  -webkit-text-decoration: underline dashed;
  text-decoration: underline dashed;
}
.ct-span.text--overline {
  -webkit-text-decoration: overline;
  text-decoration: overline;
}
.ct-span.text--line-through {
  -webkit-text-decoration: line-through;
  text-decoration: line-through;
}
.ct-span.text--transform-none {
  text-transform: none;
}
.ct-span.text--uppercase {
  text-transform: uppercase;
}
.ct-span.text--lowercase {
  text-transform: lowercase;
}
.ct-span.text--capitalize {
  text-transform: capitalize;
}
.ct-span.text--left {
  text-align: left;
}
.ct-span.text--center {
  text-align: center;
}
.ct-span.text--right {
  text-align: right;
}
.ct-span.text--justify {
  text-align: justify;
}
.ct-video.aspect--1-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
  position: relative;
}
.ct-video.aspect--1-1 > .oxygen-vsb-responsive-video-wrapper {
  padding-bottom: 0 !important;
}
.ct-video.aspect--1-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
  position: relative;
}
.ct-video.aspect--1-2 > .oxygen-vsb-responsive-video-wrapper {
  padding-bottom: 0 !important;
}
.ct-video.aspect--2-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
  position: relative;
}
.ct-video.aspect--2-1 > .oxygen-vsb-responsive-video-wrapper {
  padding-bottom: 0 !important;
}
.ct-video.aspect--2-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
  position: relative;
}
.ct-video.aspect--2-3 > .oxygen-vsb-responsive-video-wrapper {
  padding-bottom: 0 !important;
}
.ct-video.aspect--3-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
  position: relative;
}
.ct-video.aspect--3-2 > .oxygen-vsb-responsive-video-wrapper {
  padding-bottom: 0 !important;
}
.ct-video.aspect--3-4 > .oxygen-vsb-responsive-video-wrapper > iframe {
  position: relative;
}
.ct-video.aspect--3-4 > .oxygen-vsb-responsive-video-wrapper {
  padding-bottom: 0 !important;
}
.ct-video.aspect--4-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
  position: relative;
}
.ct-video.aspect--4-3 > .oxygen-vsb-responsive-video-wrapper {
  padding-bottom: 0 !important;
}
.ct-video.aspect--16-9 > .oxygen-vsb-responsive-video-wrapper > iframe {
  position: relative;
}
.ct-video.aspect--16-9 > .oxygen-vsb-responsive-video-wrapper {
  padding-bottom: 0 !important;
}
.ct-video.aspect--9-16 > .oxygen-vsb-responsive-video-wrapper > iframe {
  position: relative;
}
.ct-video.aspect--9-16 > .oxygen-vsb-responsive-video-wrapper {
  padding-bottom: 0 !important;
}
@media (max-width: 1279px) {
  .aspect--xl-1-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--xl-1-1 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--xl-1-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--xl-1-2 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--xl-2-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--xl-2-1 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--xl-2-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--xl-2-3 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--xl-3-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--xl-3-2 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--xl-3-4 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--xl-3-4 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--xl-4-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--xl-4-3 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--xl-16-9 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--xl-16-9 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--xl-9-16 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--xl-9-16 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
}
@media (max-width: 991px) {
  .aspect--l-1-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--l-1-1 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--l-1-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--l-1-2 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--l-2-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--l-2-1 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--l-2-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--l-2-3 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--l-3-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--l-3-2 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--l-3-4 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--l-3-4 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--l-4-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--l-4-3 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--l-16-9 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--l-16-9 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--l-9-16 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--l-9-16 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
}
@media (max-width: 767px) {
  .aspect--m-1-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--m-1-1 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--m-1-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--m-1-2 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--m-2-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--m-2-1 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--m-2-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--m-2-3 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--m-3-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--m-3-2 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--m-3-4 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--m-3-4 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--m-4-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--m-4-3 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--m-16-9 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--m-16-9 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--m-9-16 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--m-9-16 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
}
@media (max-width: 479px) {
  .aspect--s-1-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--s-1-1 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--s-1-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--s-1-2 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--s-2-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--s-2-1 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--s-2-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--s-2-3 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--s-3-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--s-3-2 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--s-3-4 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--s-3-4 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--s-4-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--s-4-3 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--s-16-9 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--s-16-9 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--s-9-16 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--s-9-16 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
}
